// Variables ===================================================================

@import './variables';

@import url(https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css);

$web-font-path: 'https://fonts.googleapis.com/css?family=Roboto:200,300,400,700|Quicksand:400' !default;

@import url($web-font-path);

@import '~bootstrap/scss/bootstrap';

// Background ============================================================
html,
body {
  background: #000000;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

// Special =====================================================================

.special-gradient {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  filter: blur(80px);
  animation: special-gradient 2.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@keyframes special-gradient {
  0% {
    opacity: 0.5;
    filter: blur(200px);
  }
  100% {
    opacity: 1;
    filter: blur(80px);
  }
}

.special-gradient-content {
  position: relative;
}

.special-gradient.special-gradient-one {
  background: conic-gradient(from 180deg, #ff0000, #2797ff 240deg, #ef04f3 250deg, #000000 285deg);
}

.mw-50 {
  max-width: 50%;
}

.shadow-thick {
  box-shadow: 0 4px 15px 5px #000000b8;
}

.display-logo {
  font-family: 'Quicksand';
  font-weight: 450;
  font-size: 3.5rem;
  text-transform: uppercase;
  text-decoration: underline;
  user-select: none;
}

.display-logo.small {
  font-family: 'Quicksand';
  font-weight: 450;
  font-size: 1.8rem;
  text-transform: uppercase;
  text-decoration: underline;
  user-select: none;
}

.icons.left {
  margin-left: 0.5rem;
}

.icons.right {
  margin-right: 0.5rem;
}

.icons.large-icons {
  font-size: 22pt;
}

.icons.huge-icons {
  font-size: 7rem;
}

a:not(href):not(disabled) {
  cursor: pointer;
}

.top-view {
  z-index: 999;
}

.top-secondary-view {
  z-index: 998;
}

.profile-card {
  width: 10rem;
  height: 12rem;
}

img.profile-card {
  width: 10rem;
  height: 10rem;
}

.dropdown-menu.small {
  max-width: 10rem;
}

nav.bg-special {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(100px);
}

ul.dropdown-menu {
  opacity: 0;
}

a.dropdown-toggle:hover ~ ul.dropdown-menu {
  opacity: 1;
}

ul.dropdown-menu:hover {
  opacity: 1;
  transition: opacity 0.3s;
}

// Custom Colors ===============================================================

.text-dark-green {
  color: $dark-green;
}

.bg-dim {
  background: rgba(0, 0, 0, 0.6);
}

// Navbar ======================================================================

.navbar {
  font-size: $font-size-sm;
  font-weight: 600;

  &-nav {
    .nav-link {
      padding-top: 0.715rem;
      padding-bottom: 0.715rem;
    }
  }

  &-brand {
    margin-right: 2rem;
  }
}

.bg-primary {
  background-color: theme-color('primary') !important;
}

.bg-light {
  border: 1px solid rgba(0, 0, 0, 0.1);

  &.navbar-fixed-top {
    border-width: 0 0 1px;
  }

  &.navbar-bottom-top {
    border-width: 1px 0 0;
  }
}

.nav-item {
  margin-right: 2rem;
}

// Buttons =====================================================================

.btn {
  font-size: 1.3rem;

  &-sm {
    font-size: 10px;
  }

  &-warning {
    &,
    &:hover,
    &:not([disabled]):not(.disabled):active,
    &:focus {
      color: $white;
    }
  }
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.btn-outline-secondary {
  border-color: $gray-600;
  color: $gray-600;

  &:not([disabled]):not(.disabled):hover,
  &:not([disabled]):not(.disabled):focus,
  &:not([disabled]):not(.disabled):active {
    background-color: $gray-400;
    border-color: $gray-400;
    color: $white;
  }

  &:not([disabled]):not(.disabled):focus {
    box-shadow: 0 0 0 0.2rem rgba($gray-400, 0.5);
  }
}

[class*='btn-outline-'] {
  border-width: 2px;
}

.border-secondary {
  border: 1px solid $gray-400 !important;
}

// Typography ==================================================================

body {
  font-weight: 200;
  letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 3px;
}

.text-secondary {
  color: $body-color !important;
}

// Tables ======================================================================

th {
  font-size: $font-size-sm;
}

.table {
  th,
  td {
    padding: 1.5rem;
  }

  &-sm {
    th,
    td {
      padding: 0.75rem;
    }
  }
}

// Forms =======================================================================

.custom-switch {
  .custom-control-label {
    &::after {
      top: add(0.15625rem, 2px);
      left: add(-2.25rem, 2px);
      width: subtract(1rem, 4px);
      height: subtract(1rem, 4px);
    }
  }
}

// Navs ========================================================================

.dropdown-menu {
  font-size: $font-size-sm;
  text-transform: none;
}

// Indicators ==================================================================

.badge {
  padding-top: 0.28rem;

  &-pill {
    border-radius: 10rem;
  }
}

// Containers ==================================================================

.list-group-item {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    color: inherit;
  }
}

.card {
  &-title,
  &-header {
    color: inherit;
  }
}
